
<div class="calc-grid-wrapper">
  <div class="calc-grid grid-gutter">
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-clear" (click)="clear()">C</button>
      </div>
    </div>
    <div class="calc-grid-cell calc-wide">
      <div class="calc-grid-item">
        <button class="calc-backspace" (click)="spliceOutput()">BACKSPACE</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-divide" (click)="execute('/')">/</button>
      </div>
    </div>
  </div>

  <div class="calc-grid grid-gutter">
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-7" (click)="buffer('7')">7</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-8" (click)="buffer('8')">8</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-9" (click)="buffer('9')">9</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-add" (click)="execute('+')">+</button>
      </div>
    </div>
  </div>

  <div class="calc-grid grid-gutter">
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-4" (click)="buffer('4')">4</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-5" (click)="buffer('5')">5</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-6" (click)="buffer('6')">6</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-subtract" (click)="execute('-')">-</button>
      </div>
    </div>
  </div>

  <div class="calc-grid grid-gutter">
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-1" (click)="buffer('1')">1</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-2" (click)="buffer('2')">2</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-3" (click)="buffer('3')">3</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-multiply" (click)="execute('*')">*</button>
      </div>
    </div>
  </div>
  <div class="calc-grid grid-gutter">
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-0" (click)="buffer('0')">0</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-reverse" (click)="reverse()">∓</button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-decimal" (click)="addDecimal()">
          <strong>.</strong>
        </button>
      </div>
    </div>
    <div class="calc-grid-cell">
      <div class="calc-grid-item">
        <button class="calc-compute" (click)="compute()">=</button>
      </div>
    </div>
  </div>
</div>