
.calc-grid {
  display: flex;
}

.grid-gutter {
  margin: -1em 0 1em -1em;
}

.calc-grid-cell {
  flex: 1;
}

.grid-gutter > .calc-grid-cell {
  padding: 1em 0 0 1em;
}

.calc-wide {
  width: 50% !important;
  flex: none !important;
}

.calc-grid-item button {
  width: 100%;
}