<div>
  <form>
    <div class="form-group">
      <div class="container">
        <div class="row">
          <input type="text" [value]="tmpHistory" class="form-control temp-history" (keydown)="validateKeys($event)">
        </div>
      </div>
      <textarea readonly class="form-control output" rows="3">{{output}}</textarea>
    </div>
    <app-simple-calculator></app-simple-calculator>
  </form>
</div>