<div>
  <h3>History</h3>
  <form class="jumbotron jumbotron-fluid history-container">
    <div class="container clearfix" *ngFor="let item of history">
      <input type="text" [value]="item.computation" class="form-control" (keydown) = "validateKeys($event)">
      <p class="lead float-right">{{item.result | number:'.0-8'}}</p>
    </div>
  </form>
</div>