.history-container {
    max-height: 16rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.history-container > div {
    border-bottom: 0.0625rem solid rgba(0,0,0,.15);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.history-container > div:last-of-type {
    border-bottom: none;
}

.history-container div p {
    float: right;
}