.main-container > div {
    border: 0.0625rem solid rgba(0,0,0,.15);
    border-radius: .75rem;
}

.main-container > div > nav {
    border: 0.0625rem solid rgba(0,0,0,.15);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.row > div[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

