<div class="main-container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#logout" aria-controls="logout"
      aria-expanded="false" aria-label="Logout">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand nav-header" href="/home">Angular 5 Calculator</a>

    <div class="collapse navbar-collapse" id="logout">
      <div class="navbar-nav ml-md-auto">
        <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

  <div>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <a class="navbar-brand sub-header" href="#">Calculator</a>
    </nav>

    <div class="container home-container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <app-calculator></app-calculator>
        </div>
        <div class="col-sm-12 col-md-6">
          <app-history></app-history>
        </div>
      </div>
    </div>
  </div>
</div>