<div *ngIf="isModalShown" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden()" bsModal #authenticationModal="bs-modal" class="modal fade"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Login/Registration -
          <span class="text-primary">Angular Calculator</span>
        </h5>
      </div>
      <div class="modal-body auth-container">
        <app-alert></app-alert>
        <tabset>
          <tab heading="Login" class="auth-content">
            <app-login (userValidated)="navigateToHome()"></app-login>
          </tab>
          <tab heading="Register" class="auth-content">
            <app-register (userRegistered)="switchToLogin()"></app-register>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>